<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Digital Fei | Web Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
</head>
<body>
	<div class="theme-layout">
		<header class="stick">
			<div class="container">
				<div class="logo"><a href="#" title=""><h1 class="cd-headline clip is-full-width" style="width: 400px; font-weight: bold;">DIGITAL FEI</h1></a></div>
				<nav>
					<ul>
						<li><a href="/" title="">Home</a></li>
						<li><a href="/about" title="">About</a></li>
						<li class="boldnav"><a href="/instantquote" title="">Instant Quote</a></li>
						<li><a href="#" title="">Services</a>
							<ul>
								<li><a href="/development" title="">Development</a></li>
								<li><a href="/management" title="">Management</a></li>
							</ul>
						</li>
						<li><a href="/contact" title="">Contact</a></li>
					</ul>
					<div class="other-links hidden">
						<a class="search-btn" href="#" title=""><i class="fa fa-search"></i></a>
						<a class="menu-btn" href="#" title=""><i class="fa fa-bars"></i></a>
					</div>

				</nav>
			</div>

			<div class="revive-search">
				<div class="container">
					<a class="close-search" href="#" title=""><i class="fa fa-remove"></i></a>
					<form>
						<input type="text" placeholder="Enter Your Search" />
						<button><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div><!-- Revice Search -->

			<div class="sidemenu">
				<div class="sidemenu-top">
					<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
					<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				</div>
				<ul>
					<li><a href="/" title="">Home</a></li>
					<li><a href="/about" title="">About</a></li>
					<li><a href="/instantquote" title="">Instant Quote</a></li>
					<li><a href="/development" title="">Development</a></li>
					<li><a href="/management" title="">Management</a></li>
					<li><a href="/contact" title="">Contact</a></li>
				</ul>

				<div class="socials">
					<a href="#" title=""><i class="fa fa-facebook"></i></a>
					<a href="#" title=""><i class="fa fa-twitter"></i></a>
					<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					<a href="#" title=""><i class="fa fa-google-plus"></i></a>
				</div>
			</div>

		</header><!-- Header -->
		<div class="menu-height"></div>


		<section>
			<div class="block no-padding">
				<div class="featured-area">
					<img class="fixed-top opacity rellax" data-rellax-speed="-3" src="http://templates.stillidea.net/revive/images/resource/featured-bg.jpg" alt="" />
					<div class="featured-text">
						<div class="container">
							<div class="row">
								<div class="col-md-9">
									<h1 class="cd-headline clip is-full-width">Its Time To 
			                        <span class="cd-words-wrapper">
			                            <b class="is-visible">Revive...</b>
			                            <b class="is-hidden">Change...</b>
			                            <b class="is-hidden">Rebuild...</b>
			                        </span>									
                        			</h1>
									<p>Moving forward can be intimidating with an industry rapidly changing and so many developers uncommited to your dream. Like our idol Wong Fei Hong, martial arts master and doctor, we strive for mastery of our craft. If your ready to reinvent yourself we would be honored to work with you.</p>
								</div>
							</div>
						</div>						
					</div>
				</div><!-- Featured Area -->
			</div>
		</section>

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="option-isotop">
							  <ul id="filter" class="option-set" data-option-key="filter">
								<li><a href="#" data-option-value="*" class="selected">ALL</a></li>
								<li><a href="#" data-option-value=".cat1">Branding</a></li>
								<li><a href="#" data-option-value=".cat2">Identity</a></li>
								<li><a href="#" data-option-value=".cat3">Logo</a></li>
								<li><a href="#" data-option-value=".cat4">Craft</a></li>
							  </ul>
							</div><!-- Filters -->

							<div class="revive-portfolio">
								<div class="row">
									<div class="masonary">
										<div class="col-md-4 cat1 cat2">
											<div class="portfolio-img">
												<img class="lp_border"  src="images/bw_Slice1.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Dynamic Landing Pages</a></h4>
														<ul class="cats">
															<li><a href="#" title="">3rd Party API's</a></li>
															<li><a href="#" title="">Templating</a></li>
															<li><a href="#" title="">animations</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-4 cat3">
											<div class="portfolio-img">
												<img class="lp_border"  src="images/hl_Slice1.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Content Writing</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Audience specific</a></li>
															<li><a href="#" title="">A/B Tested</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-4 cat4">
											<div class="portfolio-img">
												<img class="lp_border"  src="images/bg_Slice2.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Hybrid Applications</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Flexible development</a></li>
															<li><a href="#" title="">Lean Methodology</a></li>
															<li><a href="#" title="">Data Visualization</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-4 cat3 cat1">
											<div class="portfolio-img">
												<img class="lp_border" src="images/hl_Slice2.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Payment Handling</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Data Tracking</a></li>
															<li><a href="#" title="">tested Security</a></li>
															<li><a href="#" title="">Modern Frameworks</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-4 cat4 cat2">
											<div class="portfolio-img">
												<img class="lp_border"  src="images/bg_Slice1.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Social Networks</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Profile Customization</a></li>
															<li><a href="#" title="">Private Messaging</a></li>
															<li><a href="#" title="">account encryption</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-4 cat4 cat2">
											<div class="portfolio-img">
												<img class="lp_border" src="images/bw_Slice2.png" alt="" />
												<div class="hover">
													<div class="hover-text">
														<h4><a href="single-portfolio.html" title="">Content Filters</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Stateless Applications</a></li>
															<li><a href="#" title="">Binary Sorting</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
									</div>
								</div>
							</div><!-- Revive Portfolio -->
						</div>
					</div>
				</div>
			</div>
		</section>

		
		<section>
			<div class="block gray no-padding">
				<div class="container">
					<div class="revive-addbar">
						<div class="addbar-text">
							<h4>Start Your Project With <span>Digital Fei Now!</span></h4>
							<span>Build minimal website and great user experience</span>
						</div><!-- Addbar Text -->
	 					<a class="btn" href="#" title="">GET A FREE QUOTE NOW</a>
					</div><!-- Revive Addbar -->
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="block no-padding">
				<div class="row">
					<div class="col-md-12">
						<div class="revive-services">
							 <div class="service-title">
							 	<img src="images/wp_Slice1.png" alt="" />
							 	<div class="title-box">
							 		<h4>Trust Us</h4>
							 		<p>Since the early 2000s we have watched the web grow. Ten years later we began development and built sites that matter to us.</p>
							 	</div>
							 </div><!-- Service Title -->

							 <div class="services-list">
							 	<div class="revive-service">
							 		<span><i class="fa fa-paint-brush"></i></span>
							 		<div class="service-text">
							 			<h5>Design</h5>
							 			<p>Over 15 years of formal training in the principles of art and design, including recognition local art competitions. </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 	<div class="revive-service">
							 		<span><i class="fa fa-wrench"></i></span>
							 		<div class="service-text">
							 			<h5>Development</h5>
							 			<p>15 years of experience scripting, and hacking projects both large and small, for fun and for profit. </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 	<div class="revive-service">
							 		<span><i class="fa fa-users"></i></span>
							 		<div class="service-text">
							 			<h5>Management</h5>
							 			<p>11 years of leadership and management, hosting sporting events, coaching youth teams, and leading 2-10 man teams in developing web applications </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 </div><!-- Services List -->
						</div><!-- Revive Services -->
					</div>
				</div>
			</div>
			</div>
		</section> <!-- services -->
		
		<section>
			<div class="container">
				<div class="block less-space">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="logos">
								<li><a href="#" title=""><img class="logoz" width="100px" height="87px" src="http://www.jsweet.org/wp-content/uploads/2016/04/react-logo-300x289.png" alt="" /></a></li>
								<li><a href="#" title=""><img class="logoz" width="117px" height="67px" src="https://raygun.com/blog/wp-content/uploads/2016/05/nodejs-logo.png" alt="" /></a></li>
								<li><a href="#" title=""><img class="logoz" width="117px" height="87px" src="http://paislee.io/content/images/2014/Aug/angular_js.svg" alt="" /></a></li>
								<li><a href="#" title=""><img class="logoz" width="117px" height="87px" src="https://softwareengineeringdaily.com/wp-content/uploads/2015/12/DO_Logo_Vertical_Blue-75e0d68b.png" alt="" /></a></li>
								<li><a href="#" title=""><img class="logoz" width="117px" height="87px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" alt="" /></a></li>
								<li><a href="#" title=""><img class="logoz" width="117px" height="87px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/MySQL.svg/1280px-MySQL.svg.png" alt="" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section> <!-- logos -->

		<footer>
			<div class="container">
				<p>Copyright © 2017  <a href="#" title="">Digital Fei</a>. All rights reserved</p>
				<div class="socials">
					<a href="#" title=""><i class="fa fa-facebook"></i></a>
					<a href="#" title=""><i class="fa fa-twitter"></i></a>
					<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					<a href="#" title=""><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</footer> <!-- Footer -->

	</div>



 	<script src="js/jquery.min.js"></script>
 	<script src="js/isotope.js"></script>
 	<script src="js/owl.carousel.min.js"></script>
 	<script src="js/enscroll-0.5.2.min.js"></script>
 	<script src="js/rellax.min.js"></script>
 	<script src="js/animate-headline.js"></script>
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>
















