<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Minimal Portfolio Template for Agency, Photography and Resume - Revive</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />

</head>
<body>
	<div class="theme-layout">
		<header class="style2">
			<div class="">
				<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
				<nav>
					<ul>
						<li><a href="index.html" title="">Homepages</a>
							<ul>
								<li><a href="index.html" title="">Agency Homepage 1</a></li>
								<li><a href="index2.html" title="">Agency Homepage 2</a></li>
								<li><a href="index3.html" title="">Agency Homepage 3</a></li>
								<li><a href="index4.html" title="">Agency Homepage 4</a></li>
								<li><a href="index5.html" title="">Agency Homepage 5</a></li>
								<li><a href="index6.html" title="">Photography Homepage 1</a></li>
								<li><a href="index7.html" title="">Photography Homepage 2</a></li>
								<li><a href="index8.html" title="">Resume Homepage</a></li>
							</ul>
						</li>
						<li><a href="about.html" title="">About</a></li>
						<li><a href="portfolio.html" title="">Portfolio</a>
							<ul>
								<li><a href="portfolio.html" title="">Portfolio Simple</a></li>
								<li><a href="portfolio2.html" title="">Portfolio Masonary</a></li>
								<li><a href="single-portfolio.html" title="">Single Portfolio</a></li>
							</ul>
						</li>
						<li><a href="blog.html" title="">Blog</a>
							<ul>
								<li><a href="blog-detail.html" title="">Blog Single Without Sidebar</a></li>
								<li><a href="blog-detail2.html" title="">Blog Single With Sidebar</a></li>
							</ul>
						</li>
						<li><a href="contact.html" title="">Contact</a></li>
					</ul>
					<div class="other-links hidden">
						<a class="search-btn" href="#" title=""><i class="fa fa-search"></i></a>
						<a class="menu-btn" href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					
				</nav>
			</div>

			<div class="revive-search">
				<div class="container">
					<a class="close-search" href="#" title=""><i class="fa fa-remove"></i></a>
					<form>
						<input type="text" placeholder="Enter Your Search" />
						<button><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div><!-- Revice Search -->

			<div class="sidemenu">
				<div class="sidemenu-top">
					<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
					<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				</div>
				<ul>
					<li><a href="index.html" title="">Homepages</a>
						<ul>
							<li><a href="index.html" title="">Agency Homepage 1</a></li>
							<li><a href="index2.html" title="">Agency Homepage 2</a></li>
							<li><a href="index3.html" title="">Agency Homepage 3</a></li>
							<li><a href="index4.html" title="">Agency Homepage 4</a></li>
							<li><a href="index5.html" title="">Agency Homepage 5</a></li>
							<li><a href="index6.html" title="">Photography Homepage 1</a></li>
							<li><a href="index7.html" title="">Photography Homepage 2</a></li>
							<li><a href="index8.html" title="">Resume Homepage</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About</a></li>
					<li><a href="portfolio.html" title="">Portfolio</a>
						<ul>
							<li><a href="portfolio.html" title="">Portfolio Simple</a></li>
							<li><a href="portfolio2.html" title="">Portfolio Masonary</a></li>
							<li><a href="single-portfolio.html" title="">Single Portfolio</a></li>
						</ul>
					</li>
					<li><a href="blog.html" title="">Blog</a>
						<ul>
							<li><a href="blog-detail.html" title="">Blog Single Without Sidebar</a></li>
							<li><a href="blog-detail2.html" title="">Blog Single With Sidebar</a></li>
						</ul>
					</li>
					<li><a href="contact.html" title="">Contact</a></li>
				</ul>

				<div class="socials">
					<a href="#" title=""><i class="fa fa-facebook"></i></a>
					<a href="#" title=""><i class="fa fa-twitter"></i></a>
					<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					<a href="#" title=""><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</header><!-- Header -->

		<div class="menu-height"></div>



		<section>
			<div class="block gray">
				<div class="featured-area style2">
					<div class="featured-text">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<h1>Its Time To <span>Revive...</span></h1>
									<p>Sicingio elitr, sed diam nonumy umod tempor inviduntaq muerat, sed diam. Phasellus dictum purus ut con vallisti ncidunt. Tenetur magni quae quia ipsa suscipt dorqu am incidunt sapiente cupiditate soluta. Sicingio elitr, sed dia hasellus dictumSicingio  elitr, sed diam nonumy umod to muerat, sed diam. </p>
								</div>
								<div class="col-md-4">
									<div class="mockup"><img src="http://placehold.it/324x438/f64343/ffffff" alt="" /></div>
								</div>
							</div>
						</div>						
					</div>
				</div><!-- Featured Area -->
			</div>
		</section>

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="option-isotop">
							  <ul id="filter" class="option-set" data-option-key="filter">
								<li><a href="#" data-option-value="*" class="selected">ALL</a></li>
								<li><a href="#" data-option-value=".cat1">Branding</a></li>
								<li><a href="#" data-option-value=".cat2">Identity</a></li>
								<li><a href="#" data-option-value=".cat3">Logo</a></li>
								<li><a href="#" data-option-value=".cat4">Craft</a></li>
							  </ul>
							</div><!-- Filters -->

							<div class="revive-portfolio imageGallery">
								<div class="row">
									<div class="masonary">
										<div class="col-md-3 cat1 cat2">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Beautiful Bag</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat2 cat3">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Yellow Paper</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat4 cat2">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Leather Bag</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat1 cat3">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Wooden Base Cup</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat1 cat3">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Crystal Bottle</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat3 cat2">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Black Chair</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat2 cat3">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Leather Bag</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
										<div class="col-md-3 cat1 cat4">
											<div class="portfolio-img style4">
												<img src="http://placehold.it/270x370/f64343/ffffff" alt="" />
												<div class="hover">
													<div class="hover-text">
														<a class="zoomer" href="http://placehold.it/270x370/f64343/ffffff" title="Title For The Image"><i class="fa fa-arrows-alt"></i></a>
														<h4><a href="single-portfolio.html" title="">Wooden Base Cup</a></h4>
														<ul class="cats">
															<li><a href="#" title="">Identity</a></li>
															<li><a href="#" title="">Craft</a></li>
														</ul>
													</div>
												</div>
											</div><!-- Portfolio Image -->
										</div>
									</div>
								</div>
							</div><!-- Revive Portfolio -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block gray no-padding">
				<div class="container">
					<div class="revive-addbar">
						<div class="addbar-text">
							<h4>Start Your Project With <span>Revive Now!</span></h4>
							<span>Build minimal website and great user experience</span>
						</div><!-- Addbar Text -->
	 					<a class="btn" href="#" title="">PURCHASE NOW</a>
					</div><!-- Revive Addbar -->
				</div>
			</div>
		</section>


		<section>
			<div class="block no-padding">
				<div class="row">
					<div class="col-md-12">
						<div class="revive-services">
							 <div class="service-title">
							 	<img src="http://placehold.it/800x800/f64343/ffffff" alt="" />
							 	<div class="title-box">
							 		<h4>OUR SERVICES</h4>
							 		<p>Sicingio elitr, sed diam nonumy umod tempor inviduntaq muerat, sed diam. Phasellus dictum purus ut convallisti ncidunt. </p>
							 	</div>
							 </div><!-- Service Title -->

							 <div class="services-list">
							 	<div class="revive-service">
							 		<span><i class="fa fa-coffee"></i></span>
							 		<div class="service-text">
							 			<h5>Branding Design</h5>
							 			<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id amet mauris. </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 	<div class="revive-service">
							 		<span><i class="fa fa-film"></i></span>
							 		<div class="service-text">
							 			<h5>Video Production</h5>
							 			<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id amet mauris. </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 	<div class="revive-service">
							 		<span><i class="fa fa-camera-retro"></i></span>
							 		<div class="service-text">
							 			<h5>Animation Photography</h5>
							 			<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id amet mauris. </p>
							 		</div>
							 	</div><!-- Revive Service -->
							 </div><!-- Services List -->
						</div><!-- Revive Services -->
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block less-space">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="logos">
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
								<li><a href="#" title=""><img src="http://placehold.it/117x87/f64343/ffffff" alt="" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>


		<footer class="style2">
			<div class="container">
				<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
				<div class="socials">
					<a href="#" title=""><i class="fa fa-facebook"></i></a>
					<a href="#" title=""><i class="fa fa-twitter"></i></a>
					<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					<a href="#" title=""><i class="fa fa-google-plus"></i></a>
				</div>
				<p>Copyright © 2017  <a href="#" title="">Revive</a>. All rights reserved</p>
			</div>
		</footer><!-- Footer -->

	</div>



 	<script src="js/jquery.min.js"></script>
 	<script src="js/isotope.js"></script>
 	<script src="js/enscroll-0.5.2.min.js"></script>
 	<script src="js/rellax.min.js"></script>
 	<script src="js/simpleLightbox.min.js"></script>
 	<script src="js/owl.carousel.min.js"></script>
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>





